<!doctype html>
<!--{% load static %}-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'components/_links.html' %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body style="background: #f7f5f9;">
<div class="mb-3">
    {% include 'components/_navbar.html' %}
</div>

{% block main %}
{% endblock main %}


<div class="mb-3 mt-3">
    {% include 'components/_footer.html' %}
</div>

{% include 'components/_scripts.html' %}
</body>
</html>
