{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="m-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h3>
                        <b><i>КАТАЛОГ
                            <hr>
                            {{category.title}}</i></b>
                    </h3>
                </div>
                <div class="categories d-flex justify-content-between">
                    <ul class="list-group list-group-flush">
                        {% for category in categories %}
                        <li class="list-group-item">
                            <a class="btn" href="{% url 'main:category_page' category.id %}">
                                <b>{{ category.title }}</b>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card mt-3 mb-3" style="width: 18rem;">
                <a href="{% url 'basket:my_basket' %}" class="btn btn-outline-success m-2">Kорзинa</a>
                <a href="{% url 'favorites:favorite_list' %}" class="btn btn-outline-danger m-2">Избранное</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for shop in shops %}
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src="{{ shop.photo.url }}"
                         style="width: 150px; height: 150px;" alt="Small image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'main:shop_detail' shop.pk %}">{{ shop.title}}</a>
                        </h5>
                        <h6 class="card-title">Категория</h6>
                        <p class="card-text">{{ shop.category }}</p>
                        <h6 class="card-title">Описание</h6>
                        <p class="card-text">{{ shop.description|truncatewords:5 }}</p>
                        <h6 class="card-title">Цена</h6>
                        <p class="card-text">{{ shop.price }}</p>
                        <a href="{% url 'basket:basket_add' shop.id %}" class="btn btn-outline-success">Добавить в
                            корзину</a>
                        <a href="{% url 'favorites:add_to_favorites' shop.id %}" class="btn btn-outline-danger">Добавить в
                            избранное</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main %}
